@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("./assets/fonts/WorkSans-Medium.ttf");
}

#root {
  @apply w-full max-w-screen-2xl;
}

body {
  @apply flex flex-col items-center work-sans
}

.work-sans {
  font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked + #menu {
  display: block;
}

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}
